
bin/

# omit build artifacts
*.o
HALL0501/advent
HALL0501/advent1.dat
HALL0501/advent2.dat
HALL0501/advent3.dat
HALL0501/advent4.dat
HALL0501/advtext.h
HALL0501/setup
KNUT0350/advent
KNUT0350/advent.c
LUPI0440/adv440
MCDO0551/ADVTXT
MCDO0551/adv551
MCDO0551/asetup
ODWY0350/advent
PLAT0550/ADVINIT1.DAT
PLAT0550/ADVINIT2.DAT
PLAT0550/ADVINIT3.DAT
PLAT0550/ADVINIT4.DAT
PLAT0550/adv550
PLAT0550/munge
WOOD0430/adv430
